
<div class="container">
        <table class="table table-dark table-hover">  
            <thead>
                <tr>
                    <th colspan="3;text-align:center;">Top 10 scorers</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let t of p?.scorers">
                      {{t.player.name}}
                    <td>
                      {{t.numberOfGoals}}
                    </td>
                    
                </tr>
            </tbody>
        </table>
        </div>
        