
<div class="container">
<table class="table table-dark table-hover">  
    <thead>
        <tr>
            <th colspan="1;text-align:center;">DATE</th>
            <th colspan="1;text-align:center;">HOME</th>
            <th colspan="1;text-align:center;"></th>
            <th colspan="1;text-align:center;">AWAY</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of m?.matches|sortdata"
        routerLink="/matchdetail/{{t.id}}">
                {{t.utcDate|date}}
            <td>
                {{t.homeTeam.name}}
            </td>
            <td>
                {{t.score.fullTime.homeTeam}}:{{t.score.fullTime.awayTeam}}
            </td>
            <td>
                {{t.awayTeam.name}}
            </td>
        </tr>
    </tbody>
</table>



