
<div class="container">
        <table class="table table-dark table-hover">  
            <thead>
                <tr>
                    <th colspan="1;text-align:center;">POSITION</th>
                    <th colspan="1;text-align:center;">TEAM</th>
                    <th colspan="1;text-align:center;">WON</th>
                    <th colspan="1;text-align:center;">DRAW</th>
                    <th colspan="1;text-align:center;">LOST</th>
                    <th colspan="1;text-align:center;">POINTS</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of s?.standings[0].table"
                routerLink="/teamdetail/{{t.team.id}}">
                   
                    <td>
                        <h6 style="text-align:center;">    {{t.position}} </h6>                  
                    </td>
                    <td>{{t.team.name}}</td>

                    <td>{{t.won}}</td>

                    <td>{{t.draw}}</td>

                    <td>{{t.lost}}</td>

                    <td>{{t.points}}</td>
                </tr>
            </tbody>
        </table>
        </div>
