<div class="container">
        <table class="table table-dark table-hover"> 
            <thead>
                <tr></tr>
                
            </thead>
            <tbody>
                <tr *ngFor="let t of t?.teams|getteamId:teamid">
                   <h1>{{t.name}}</h1>
                </tr>
               
            </tbody>
          
        </table>
        <button (click)="goBack()">go back</button>
        
    </div>
