


<div *ngFor="let t of c?.matches|sortdata">
 
<table *ngIf = "t.score"id="t.utcDate">
         <tr>
             <th>
              {{t.utcDate|date}}

            </th>
        </tr>
        {{t.homeTeam.name}} 
        {{t.score.fullTime.homeTeam}}-{{t.score.fullTime.awayTeam}} 
        {{t.awayTeam.name}}

</table>

</div>

