<div class="container">
        <table class="table table-dark table-hover"> 
            <thead>
                <tr>
                    <th colspan="2;text-align:center;">HOME</th>
                    <th colspan="2;text-align:center;">AWAY</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of m?.matches|getdataId: matchid">
                   
                    <td>
                       {{t.homeTeam.name}}
                       <h3>
                        <ul style ="list-style-type:none;"><li> {{t.score.fullTime.homeTeam}}</li>
                                                           <li>{{t.score.penalties.homeTeam}}</li></ul>
                       </h3>
                    </td>

                    <td>
                        
                    </td>

                    <td>{{t.awayTeam.name}}
                         <h3><ul style ="list-style-type:none;"><li>{{t.score.fullTime.awayTeam}}</li>
                                                                <li>{{t.score.penalties.awayTeam}}</li>
                    </ul>
                    </h3>
                    </td>
                </tr>
               
            </tbody>
          
        </table>
        <button (click)="goBack()">go back</button>
        
    </div>