<h1 style ="text-align: center">Football-data</h1>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

        <ul class="navbar-nav">
          <li class="nav-item active">

          </li>
          <li class="nav-item">
            
            <button type="button" class="btn btn-dark" routerLink="/todaymatch">MATCHES</button>
        
          </li>
          <li class="nav-item">
           
            <button type="button" class="btn btn-dark" routerLink="/standing">STANDING</button>
          </li>
          <li class="nav-item">
            
            <button type="button" class="btn btn-dark" routerLink="/player">PLAYER</button>
          </li>
          
        </ul>

      </nav>
